.li2{
    list-style-type: none;
    padding: 10px;
    margin: 10px;
    width: 100px;
    background-color: rgb(220, 216, 216);
}
.li1{
    padding: 5px;
    margin: 5px;
    list-style-type: none;
    
    width: 100px;
    background-color: rgb(189, 183, 183);
}