.unorderList{
    list-style-type: none;
    padding: 10px;
    margin: 10px;
}
.li1{
    padding: 5px;
    margin: 5px;
    border: 1px solid rgb(238, 226, 226);
    width: 100px;
    background-color: rgb(189, 183, 183);
}
.li2{
     padding: 5px;
    margin: 5px;
    border: 1px solid rgb(0, 0, 0);
    width: 100px;
    background-color: rgb(0, 0, 0);
    color: azure;
}